:host {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Kakapo_Sirocco_1.jpg/1024px-Kakapo_Sirocco_1.jpg);
  background-size: cover;
  background-position: center center;
}